@import 'tailwindcss';
@import './theme.css';

/* 
  HERO: 
*/
body {
  font-family: "Poppins", sans-serif;
}

header {
  @apply flex justify-around;
  height: 100vh;
  background: radial-gradient(circle at bottom left, #1E3A8A 20%, #0F172A 90%);
  color: white;
  padding: 10% 5% 0 5%;

}

.header-details {
  @apply flex flex-col gap-10 h-full;
  /* flex: 1; */
}

.header-picture {
  margin-right: 5rem;
}

.header-picture div {
  margin-top: -20px;
  width: 480px;
  border-radius: 36px;
  padding: 16px;
  background: linear-gradient(135deg, #38BDF8, #FACC15, #38BDF8);
  background-size: 300% 300%;
  animation: gradientFlow 12s ease infinite;
  box-shadow: 0 0 20px rgba(56, 189, 248, 0.25);
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.header-picture div img {
  border-radius: 28px;
}

.header-picture div:hover {
  box-shadow: 0 0 25px rgba(250, 204, 21, 0.35);
  transition: all 0.4s ease;
}


header .name {
  @apply font-poppins font-bold;
  font-size: 7rem;
  text-transform: uppercase;
  line-height: 7rem;
}

header .roles {
  display: flex;
  gap: 10px;
  margin-left: 5px;
}

header .roles li {
  @apply text-primary-dark font-extrabold uppercase bg-secondary rounded-full;
  padding: 5px 15px;
  font-size: 14px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.49);
}

header .description {
  @apply font-inter font-semibold;
  font-size: 24px;
  max-width: 36vw;
}

header .quote {
  @apply font-fira font-light italic;
  opacity: 0.9;
}

.email-btn {
  @apply flex items-center gap-3 cursor-pointer font-inter font-bold bg-secondary text-primary-dark rounded-full;
  padding: 15px 30px 15px 20px;
  font-size: 18px;
}

.email-btn svg {
  @apply bg-primary-dark text-white rounded-full;
  padding: 10px;
  height: 18px;
  width: 18px;
}

.download-cv-btn {
  @apply flex items-center gap-3 cursor-pointer font-inter font-bold rounded-full;
  border: 3px solid var(--color-secondary);
  padding: 15px 30px 15px 20px;
  transition: all 0.2s ease;
}

.download-cv-btn svg {
  @apply bg-white text-primary-dark rounded-full;
  padding: 10px;
  height: 18px;
  width: 18px;
  transition: all 0.1s ease;
}

.download-cv-btn:hover {
  @apply bg-secondary text-primary-dark;
}

.download-cv-btn:hover svg {
  @apply bg-primary-dark text-white;
}


#skills {
  @apply min-h-screen;
  padding: 7rem 10rem;
}

#skills .skills-content {
  @apply flex flex-col items-center gap-15 h-full;
}

#skills .description {
  @apply font-poppins font-semibold uppercase text-center;
  font-size: 3rem;
  line-height: 3.2rem;
  max-width: 46vw;
}

#skills .skills-list {
  @apply grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

#skills .skills-list li {
  @apply rounded-4xl text-center cursor-pointer flex flex-col gap-4;
  padding: 40px;
  box-shadow: 0px 0px 10px -5px rgba(81, 81, 81, 1);
  -webkit-box-shadow: 0px 0px 10px -5px rgba(81, 81, 81, 1);
  -moz-box-shadow: 0px 0px 10px -5px rgba(81, 81, 81, 1);
  transition: all 0.2s ease;
  max-width: 360px;
  min-height: 250px;
}
#skills .skills-list li:hover {
  @apply bg-secondary text-primary-dark;
}

.skills-list .icon {
  @apply m-auto text-6xl;
}

.skills-list h3 {
  @apply font-poppins font-semibold;
  font-size: 1.4rem;
  line-height: 1.4rem;
}
.skills-list .skill-description {
  @apply font-inter font-light;
  line-height: 1.4rem;
  opacity: 0.9;
}